example_sonos.json
[
   {
      "id":"066c677ec36283e4",
      "type":"group",
      "z":"0d544f839fb3fe0d",
      "name":"",
      "style":{
         "stroke":"#ffC000",
         "fill":"#ffefbf",
         "label":true
      },
      "nodes":[
         "af0804044adc4164",
         "14e28bf96f388b72",
         "8dfa8ce1dc3c6135",
         "0f5fa0e61099ed66",
         "063eba96eb8422c7",
         "730cd84f3be8eff7"
      ],
      "x":814,
      "y":929,
      "w":652,
      "h":142
   },
   {
      "id":"af0804044adc4164",
      "type":"mqtt in",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Sonos Bar",
      "topic":"sonos/RINCON_949F3E6F339601400",
      "qos":"2",
      "datatype":"auto-detect",
      "broker":"a08e3970.b010b8",
      "nl":false,
      "rap":true,
      "rh":0,
      "inputs":0,
      "x":900,
      "y":1010,
      "wires":[
         [
            "8dfa8ce1dc3c6135"
         ]
      ]
   },
   {
      "id":"14e28bf96f388b72",
      "type":"change",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Store-State",
      "rules":[
         {
            "t":"set",
            "p":"#:(persistent)::homekit.entities.woonkamer.sonosbar.state",
            "pt":"global",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1370,
      "y":1030,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"8dfa8ce1dc3c6135",
      "type":"change",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Set-Information",
      "rules":[
         {
            "t":"set",
            "p":"_payload",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"_payload.state",
            "pt":"msg",
            "to":"payload.transportState",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.trackUri",
            "pt":"msg",
            "to":"payload.currentTrack.TrackUri",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.volume",
            "pt":"msg",
            "to":"payload.volume.Master",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.muted",
            "pt":"msg",
            "to":"payload.mute.Master",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.trackinfo",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"_payload.trackinfo.artist",
            "pt":"msg",
            "to":"payload.currentTrack.Artist",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.trackinfo.title",
            "pt":"msg",
            "to":"payload.currentTrack.Title",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload.media",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"_payload.media.tv",
            "pt":"msg",
            "to":"$contains($.payload.currentTrack.TrackUri, \"spdif\")",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"_payload.media.hitradio",
            "pt":"msg",
            "to":"$contains($.payload.currentTrack.TrackUri, \"hitradio\")",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"_payload.media.qmusic",
            "pt":"msg",
            "to":"$contains($.payload.currentTrack.TrackUri, \"qmusic\")",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"_payload.media.spotify",
            "pt":"msg",
            "to":"$contains($.payload.currentTrack.TrackUri, \"spotify\")",
            "tot":"jsonata"
         },
         {
            "t":"move",
            "p":"payload",
            "pt":"msg",
            "to":"payload_old",
            "tot":"msg"
         },
         {
            "t":"move",
            "p":"_payload",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1110,
      "y":1010,
      "wires":[
         [
            "14e28bf96f388b72",
            "0f5fa0e61099ed66"
         ]
      ]
   },
   {
      "id":"0f5fa0e61099ed66",
      "type":"change",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Set-ButtonPlusDeviceInfo",
      "rules":[
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-hitradio.rgb_led",
            "pt":"global",
            "to":"$.payload.media.hitradio = true ? 255 : 0",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-qmusic.rgb_led",
            "pt":"global",
            "to":"$.payload.media.qmusic = true ? 255 : 0",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-spotify.rgb_led",
            "pt":"global",
            "to":"$.payload.media.spotify = true ? 255 : 0",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-tv.rgb_led",
            "pt":"global",
            "to":"$.payload.media.tv = true ? 255 : 0",
            "tot":"jsonata"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":1315,
      "y":990,
      "wires":[
         [
            "063eba96eb8422c7"
         ]
      ],
      "icon":"font-awesome/fa-bold",
      "l":false
   },
   {
      "id":"063eba96eb8422c7",
      "type":"link out",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Force-ButtonPlusUpdate",
      "mode":"link",
      "links":[
         "1a1ba52959421d9d"
      ],
      "x":1365,
      "y":990,
      "wires":[
         
      ]
   },
   {
      "id":"730cd84f3be8eff7",
      "type":"comment",
      "z":"0d544f839fb3fe0d",
      "g":"066c677ec36283e4",
      "name":"Sonos - Devices",
      "info":"",
      "x":920,
      "y":970,
      "wires":[
         
      ]
   },
   {
      "id":"a08e3970.b010b8",
      "type":"mqtt-broker",
      "name":"mqtt-broker",
      "broker":"10.10.10.10",
      "port":"1883",
      "clientid":"docker_nodered",
      "autoConnect":true,
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "autoUnsubscribe":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "userProps":"",
      "sessionExpiry":""
   }
]