main_flows.json
[
   {
      "id":"109acb7a550bb286",
      "type":"group",
      "z":"438a2f12.c372d",
      "name":"",
      "style":{
         "stroke":"#777777",
         "fill":"#d1d1d1",
         "label":true
      },
      "nodes":[
         "e05d653e384a2570",
         "1c770f8a78102ed6",
         "b7dd2c101e1b92f6",
         "18049df7aef78688",
         "1a44e4d5e695acc2",
         "a387629189415f56",
         "f5ef1d030375617c",
         "fd030f4157019e51",
         "fc8bafcbbae97f67",
         "f19c5bc3b113d030",
         "61524501904694be",
         "3ad7613342ba53bd",
         "c47d78a6e6a10db0",
         "3849217e70cac1ee",
         "1a1ba52959421d9d",
         "e92e5a74d2b50ad7",
         "e5d052788cc40efc",
         "5b94004980c186be",
         "ef20345231b0206e",
         "9001fb2d39b368c8",
         "89ad4f1962e09d15",
         "3e85e8e7ebc1e58b",
         "23393334c60a950c",
         "f53d16c09af65a5a",
         "e89af71dc7eabc2a",
         "9ad11d2a373cf314",
         "5c0571c66d0cb26e",
         "9b74a1becb58d973",
         "a1ef2e32ecbb02b8",
         "c4cc7811385e5f88",
         "3af5d33e838203a4",
         "27ccc2d3a93e1d2f",
         "089eaf36cdfcc03e",
         "ec0d1a464c9798f5",
         "078fd118cd823efa",
         "22c608482548857d",
         "9b632dd46e08c53e",
         "88d0f767a9808922",
         "dc95e84105b87250",
         "4b7e5ac284a7a1b5",
         "892536bf5ab66092"
      ],
      "x":34,
      "y":1549,
      "w":1172,
      "h":727
   },
   {
      "id":"e05d653e384a2570",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Store-Menu-TVKamer",
      "rules":[
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.woonkamer.tvkamer.menu.0",
            "pt":"global",
            "to":"{\"title\":\"Hoofdmenu\",\"buttons\":{\"0\":\"menu-down\",\"1\":\"menu-up\",\"2\":\"lights-woonkamer\",\"3\":\"lights-eettafel\",\"4\":\"free\",\"5\":\"free\",\"6\":\"security-window-child\",\"7\":\"security-door\"}}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.woonkamer.tvkamer.menu.1",
            "pt":"global",
            "to":"{\"title\":\"Multimedia\",\"buttons\":{\"0\":\"menu-down\",\"1\":\"menu-up\",\"2\":\"media-qmusic\",\"3\":\"media-hitradio\",\"4\":\"media-spotify\",\"5\":\"media-tv\",\"6\":\"free\",\"7\":\"free\"}}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.woonkamer.tvkamer.menu.active",
            "pt":"global",
            "to":"0",
            "tot":"num"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":330,
      "y":1930,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"1c770f8a78102ed6",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Create",
      "props":[
         
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":130,
      "y":1930,
      "wires":[
         [
            "e05d653e384a2570",
            "a387629189415f56"
         ]
      ]
   },
   {
      "id":"b7dd2c101e1b92f6",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Store-Devices",
      "rules":[
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.lights-woonkamer",
            "pt":"global",
            "to":"{\"top_label\":\"Woonkamer\",\"label\":\"Aan\",\"rgb_led\":16777215}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.lights-eettafel",
            "pt":"global",
            "to":"{\"top_label\":\"Eettafel\",\"label\":\"Uit\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.lights-kastdimmer",
            "pt":"global",
            "to":"{\"top_label\":\"Kastdimmer\",\"label\":\"Uit\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-qmusic",
            "pt":"global",
            "to":"{\"top_label\":\"Woonkamer\",\"label\":\"Q-Music\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-hitradio",
            "pt":"global",
            "to":"{\"top_label\":\"Woonkamer\",\"label\":\"100.5 Hitradio\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-spotify",
            "pt":"global",
            "to":"{\"top_label\":\"Woonkamer\",\"label\":\"Spotify\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.media-tv",
            "pt":"global",
            "to":"{\"top_label\":\"Woonkamer\",\"label\":\"TV\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.security-door",
            "pt":"global",
            "to":"{\"top_label\":\"Deuren\",\"label\":\"--\",\"rgb_led\":0}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.device.security-window-child",
            "pt":"global",
            "to":"{\"top_label\":\"Ramen\",\"label\":\"--\",\"rgb_led\":0}",
            "tot":"json"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":720,
      "y":1930,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"18049df7aef78688",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Create",
      "props":[
         
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":540,
      "y":1930,
      "wires":[
         [
            "b7dd2c101e1b92f6"
         ]
      ]
   },
   {
      "id":"1a44e4d5e695acc2",
      "type":"comment",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus - Create Devices",
      "info":"",
      "x":610,
      "y":1890,
      "wires":[
         
      ]
   },
   {
      "id":"a387629189415f56",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Store-Menus-Voordeur",
      "rules":[
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.gang.voordeur.menu.0",
            "pt":"global",
            "to":"{\"title\":\"Lampen\",\"buttons\":{\"0\":\"free\",\"1\":\"free\",\"2\":\"menu-down\",\"3\":\"menu-up\",\"4\":\"lights-woonkamer\",\"5\":\"lights-eettafel\",\"6\":\"lights-kastdimmer\",\"7\":\"free\"}}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.gang.voordeur.menu.1",
            "pt":"global",
            "to":"{\"title\":\"Multimedia\",\"buttons\":{\"0\":\"free\",\"1\":\"free\",\"2\":\"menu-down\",\"3\":\"menu-up\",\"4\":\"media-qmusic\",\"5\":\"media-1005\",\"6\":\"free\",\"7\":\"free\"}}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"#:(persistent)::buttonplus.gang.voordeur.menu.active",
            "pt":"global",
            "to":"0",
            "tot":"num"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":330,
      "y":1970,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"f5ef1d030375617c",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Update",
      "props":[
         
      ],
      "repeat":"10",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "x":150,
      "y":2120,
      "wires":[
         [
            "fd030f4157019e51",
            "e5d052788cc40efc",
            "ef20345231b0206e"
         ]
      ]
   },
   {
      "id":"fd030f4157019e51",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Voordeur",
      "rules":[
         {
            "t":"set",
            "p":"device",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"device.room",
            "pt":"msg",
            "to":"gang",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"device.name",
            "pt":"msg",
            "to":"voordeur",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"storage",
            "pt":"msg",
            "to":"#:(persistent)::buttonplus",
            "tot":"global"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":340,
      "y":2100,
      "wires":[
         [
            "fc8bafcbbae97f67"
         ]
      ]
   },
   {
      "id":"fc8bafcbbae97f67",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Get-ActiveMenu",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"(\t$room := $lookup($.storage, $.device.room);\t$button := $lookup($room, $.device.name);\t$active := $button.menu.active;\t$lookup($button.menu, $string($active)).buttons\t)",
            "tot":"jsonata"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":560,
      "y":2120,
      "wires":[
         [
            "f19c5bc3b113d030",
            "5b94004980c186be"
         ]
      ]
   },
   {
      "id":"f19c5bc3b113d030",
      "type":"split",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"",
      "splt":"\\n",
      "spltType":"str",
      "arraySplt":1,
      "arraySpltType":"len",
      "stream":false,
      "addname":"",
      "x":590,
      "y":2170,
      "wires":[
         [
            "61524501904694be",
            "3ad7613342ba53bd",
            "c47d78a6e6a10db0"
         ]
      ]
   },
   {
      "id":"61524501904694be",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Send-TopLabel",
      "rules":[
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"\"buttonplus/\"&$.device.room&\"/\"&$.device.name&\"/button/\"&$.parts.key&\"/top_label\"",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"device.button_id",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload",
            "pt":"msg",
            "to":"$.payload = \"free\" ? \"Free\" : $lookup($.storage.device, $.payload).top_label",
            "tot":"jsonata"
         },
         {
            "t":"move",
            "p":"_payload",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"device",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"storage",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"parts",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":810,
      "y":2130,
      "wires":[
         [
            "3849217e70cac1ee"
         ]
      ]
   },
   {
      "id":"3ad7613342ba53bd",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Send-Label",
      "rules":[
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"\"buttonplus/\"&$.device.room&\"/\"&$.device.name&\"/button/\"&$.parts.key&\"/label\"",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"device.button_id",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload",
            "pt":"msg",
            "to":"$.payload = \"free\" ? \"Free\" : $lookup($.storage.device, $.payload).label",
            "tot":"jsonata"
         },
         {
            "t":"move",
            "p":"_payload",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"device",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"storage",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"parts",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":800,
      "y":2170,
      "wires":[
         [
            "3849217e70cac1ee"
         ]
      ]
   },
   {
      "id":"c47d78a6e6a10db0",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Send-RGBLed",
      "rules":[
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"\"buttonplus/\"&$.device.room&\"/\"&$.device.name&\"/button/\"&$.parts.key&\"/rgb_led\"",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"device.button_id",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"set",
            "p":"_payload",
            "pt":"msg",
            "to":"$.payload = \"free\" ? 0 : $lookup($.storage.device, $.payload).rgb_led",
            "tot":"jsonata"
         },
         {
            "t":"move",
            "p":"_payload",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"device",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"storage",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"parts",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":810,
      "y":2210,
      "wires":[
         [
            "3849217e70cac1ee"
         ]
      ]
   },
   {
      "id":"3849217e70cac1ee",
      "type":"mqtt out",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Button+ Display",
      "topic":"",
      "qos":"",
      "retain":"",
      "respTopic":"",
      "contentType":"",
      "userProps":"",
      "correl":"",
      "expiry":"",
      "broker":"a08e3970.b010b8",
      "x":1030,
      "y":2160,
      "wires":[
         
      ]
   },
   {
      "id":"1a1ba52959421d9d",
      "type":"link in",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Force-ButtonPlusUpdate",
      "links":[
         "2ce181f997692f79",
         "4122ab8565089364",
         "8a7dfd76d4f7e832",
         "dc95e84105b87250",
         "89012a469f5058a9",
         "864414d355036cb5",
         "063eba96eb8422c7",
         "0fa88145db47b3dd",
         "cff735adba12de11"
      ],
      "x":195,
      "y":2080,
      "wires":[
         [
            "fd030f4157019e51",
            "e5d052788cc40efc"
         ]
      ]
   },
   {
      "id":"e92e5a74d2b50ad7",
      "type":"comment",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus - Update ButtonPlus",
      "info":"",
      "x":220,
      "y":2040,
      "wires":[
         
      ]
   },
   {
      "id":"e5d052788cc40efc",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"TV Kamer",
      "rules":[
         {
            "t":"set",
            "p":"device",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"device.room",
            "pt":"msg",
            "to":"woonkamer",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"device.name",
            "pt":"msg",
            "to":"tvkamer",
            "tot":"str"
         },
         {
            "t":"set",
            "p":"storage",
            "pt":"msg",
            "to":"#:(persistent)::buttonplus",
            "tot":"global"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":340,
      "y":2140,
      "wires":[
         [
            "fc8bafcbbae97f67"
         ]
      ]
   },
   {
      "id":"5b94004980c186be",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Set-MenuTitle",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"(\t$room := $lookup($.storage, $.device.room);\t$button := $lookup($room, $.device.name);\t$active := $button.menu.active;\t$lookup($button.menu, $string($active)).title\t)",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"\"buttonplus/\"&$.device.room&\"/\"&$.device.name&\"/active-menu\"",
            "tot":"jsonata"
         },
         {
            "t":"delete",
            "p":"device",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"storage",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":810,
      "y":2090,
      "wires":[
         [
            "3849217e70cac1ee"
         ]
      ]
   },
   {
      "id":"ef20345231b0206e",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Set-Time",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"$fromMillis($toMillis($now()), '[H01]:[m01]', '+0100')",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"topic",
            "pt":"msg",
            "to":"buttonplus/time",
            "tot":"str"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":340,
      "y":2180,
      "wires":[
         [
            "4b7e5ac284a7a1b5"
         ]
      ]
   },
   {
      "id":"9001fb2d39b368c8",
      "type":"mqtt in",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Button+ States",
      "topic":"buttonplus/+/+/button/+/state",
      "qos":"2",
      "datatype":"auto-detect",
      "broker":"a08e3970.b010b8",
      "nl":false,
      "rap":true,
      "rh":0,
      "inputs":0,
      "x":150,
      "y":1650,
      "wires":[
         [
            "e89af71dc7eabc2a",
            "89ad4f1962e09d15"
         ]
      ]
   },
   {
      "id":"89ad4f1962e09d15",
      "type":"debug",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus - StateReport",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":370,
      "y":1630,
      "wires":[
         
      ]
   },
   {
      "id":"3e85e8e7ebc1e58b",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Set-ButtonPlusTopics",
      "rules":[
         {
            "t":"set",
            "p":"buttonplus",
            "pt":"msg",
            "to":"{}",
            "tot":"json"
         },
         {
            "t":"set",
            "p":"buttonplus.room",
            "pt":"msg",
            "to":"$split($.topic,'/')[1]",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"buttonplus.device",
            "pt":"msg",
            "to":"$split($.topic,'/')[2]",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"buttonplus.button",
            "pt":"msg",
            "to":"$split($.topic,'/')[4]",
            "tot":"jsonata"
         },
         {
            "t":"set",
            "p":"buttonplus.action",
            "pt":"msg",
            "to":"payload",
            "tot":"msg"
         },
         {
            "t":"delete",
            "p":"topic",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"payload",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"qos",
            "pt":"msg"
         },
         {
            "t":"delete",
            "p":"retain",
            "pt":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":335,
      "y":1670,
      "wires":[
         [
            "23393334c60a950c"
         ]
      ],
      "l":false
   },
   {
      "id":"23393334c60a950c",
      "type":"switch",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Check-Action",
      "property":"buttonplus.action",
      "propertyType":"msg",
      "rules":[
         {
            "t":"eq",
            "v":"release",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":460,
      "y":1670,
      "wires":[
         [
            "089eaf36cdfcc03e"
         ],
         [
            "27ccc2d3a93e1d2f"
         ]
      ]
   },
   {
      "id":"f53d16c09af65a5a",
      "type":"link out",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Start-ButtonPlus-TvKamer-Buttons",
      "mode":"link",
      "links":[
         "bcd3f39afc4052bc",
         "8995c2f7522eb16c"
      ],
      "x":1075,
      "y":1650,
      "wires":[
         
      ]
   },
   {
      "id":"e89af71dc7eabc2a",
      "type":"rbe",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Filter-Doubles",
      "func":"rbe",
      "gap":"",
      "start":"",
      "inout":"out",
      "septopics":false,
      "property":"payload",
      "topi":"topic",
      "x":275,
      "y":1670,
      "wires":[
         [
            "3e85e8e7ebc1e58b"
         ]
      ],
      "l":false
   },
   {
      "id":"9ad11d2a373cf314",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Get-Command",
      "rules":[
         {
            "t":"set",
            "p":"buttonplus.command2",
            "pt":"msg",
            "to":"$contains($.buttonplus.command, \"long\") = true ? \"long\" : \"short\"",
            "tot":"jsonata"
         },
         {
            "t":"move",
            "p":"buttonplus.command2",
            "pt":"msg",
            "to":"buttonplus.command",
            "tot":"msg"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":900,
      "y":1650,
      "wires":[
         [
            "f53d16c09af65a5a",
            "078fd118cd823efa"
         ]
      ]
   },
   {
      "id":"5c0571c66d0cb26e",
      "type":"comment",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus - Get Button Events",
      "info":"",
      "x":200,
      "y":1590,
      "wires":[
         
      ]
   },
   {
      "id":"9b74a1becb58d973",
      "type":"comment",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus - Create menu - TVKamer",
      "info":"",
      "x":230,
      "y":1890,
      "wires":[
         
      ]
   },
   {
      "id":"a1ef2e32ecbb02b8",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"",
      "props":[
         {
            "p":"topic",
            "vt":"str"
         },
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"buttonplus/gang/voordeur/button/7/state",
      "payload":"click",
      "payloadType":"str",
      "x":160,
      "y":1730,
      "wires":[
         [
            "3e85e8e7ebc1e58b"
         ]
      ]
   },
   {
      "id":"c4cc7811385e5f88",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"",
      "props":[
         {
            "p":"topic",
            "vt":"str"
         },
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"buttonplus/gang/voordeur/button/7/state",
      "payload":"long",
      "payloadType":"str",
      "x":160,
      "y":1770,
      "wires":[
         [
            "3e85e8e7ebc1e58b"
         ]
      ]
   },
   {
      "id":"3af5d33e838203a4",
      "type":"inject",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"",
      "props":[
         {
            "p":"topic",
            "vt":"str"
         },
         {
            "p":"payload"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"buttonplus/gang/voordeur/button/7/state",
      "payload":"release",
      "payloadType":"str",
      "x":160,
      "y":1810,
      "wires":[
         [
            "3e85e8e7ebc1e58b"
         ]
      ]
   },
   {
      "id":"27ccc2d3a93e1d2f",
      "type":"function",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Store-ButtonEvent",
      "func":"// define new topic based on input values\nvar global_topic\nvar new_payload\nglobal_topic = \"buttonplus.\" + msg.buttonplus.room + \".\" + msg.buttonplus.device + \".events.\" + msg.buttonplus.button\n\n// DEBUG -- show topic in error log\n//node.error(global_topic);\n\n// TODO - get current events and add the new event\nnew_payload = ((typeof global.get(global_topic, \"persistent\") !== \"undefined\") ? global.get(global_topic, \"persistent\") : \"\") + msg.buttonplus.action\n\n// store value in the new topic\nglobal.set(global_topic, new_payload, \"persistent\")\n\n// output the message for further processing\nreturn msg;",
      "outputs":1,
      "timeout":0,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":670,
      "y":1690,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"089eaf36cdfcc03e",
      "type":"function",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Reset-ButtonEvent",
      "func":"// define new topic based on input values\nvar global_topic\nglobal_topic = \"buttonplus.\" + msg.buttonplus.room + \".\" + msg.buttonplus.device + \".events.\" + msg.buttonplus.button\n\n// DEBUG -- show topic in error log\n//node.error(global_topic);\n\n// store value in the new topic and return\nmsg.buttonplus.command = global.get(global_topic, \"persistent\")\nglobal.set(global_topic, \"free\", \"persistent\")\n\n// output the message for further processing\nreturn msg;",
      "outputs":1,
      "timeout":0,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":670,
      "y":1650,
      "wires":[
         [
            "9ad11d2a373cf314"
         ]
      ]
   },
   {
      "id":"ec0d1a464c9798f5",
      "type":"comment",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Simulate gang/voordeur",
      "info":"",
      "x":380,
      "y":1770,
      "wires":[
         
      ]
   },
   {
      "id":"078fd118cd823efa",
      "type":"change",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Get-ButtonEntity",
      "rules":[
         {
            "t":"set",
            "p":"storage",
            "pt":"msg",
            "to":"#:(persistent)::buttonplus",
            "tot":"global"
         },
         {
            "t":"set",
            "p":"buttonplus.entity",
            "pt":"msg",
            "to":"(\t$room := $lookup($.storage, $.buttonplus.room);\t$button := $lookup($room, $.buttonplus.device);\t$active := $button.menu.active;\t$buttons := $lookup($button.menu, $string($active)).buttons;\t$lookup($buttons, $.buttonplus.button)\t)",
            "tot":"jsonata"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":910,
      "y":1690,
      "wires":[
         [
            "9b632dd46e08c53e"
         ]
      ]
   },
   {
      "id":"22c608482548857d",
      "type":"link out",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"ButtonPlus-EntityCommand",
      "mode":"link",
      "links":[
         "94be71b5871be270",
         "068ce10be65eb04c",
         "a2c1473b0c3b64f2",
         "9f22b8afe225e6dc"
      ],
      "x":975,
      "y":1770,
      "wires":[
         
      ]
   },
   {
      "id":"9b632dd46e08c53e",
      "type":"switch",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Menu?",
      "property":"buttonplus.entity",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"menu-",
            "vt":"str"
         },
         {
            "t":"else"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":870,
      "y":1730,
      "wires":[
         [
            "88d0f767a9808922"
         ],
         [
            "22c608482548857d"
         ]
      ]
   },
   {
      "id":"88d0f767a9808922",
      "type":"function",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Change-Menu",
      "func":"// get current menu\nvar device_menus\nvar device_menus_topic\nvar desired_menu\n\ndevice_menus_topic = \"buttonplus.\" + msg.buttonplus.room + \".\" + msg.buttonplus.device + \".menu\"\ndevice_menus = global.get(device_menus_topic, \"persistent\")\n\nif(msg.buttonplus.entity == \"menu-up\") {\n    desired_menu = device_menus.active + 1\n} else {\n    desired_menu = device_menus.active - 1\n}\n\nif(device_menus.hasOwnProperty(desired_menu) == true) {\n    device_menus_topic = \"buttonplus.\" + msg.buttonplus.room + \".\" + msg.buttonplus.device + \".menu.active\"\n    global.set(device_menus_topic, desired_menu, \"persistent\")\n    return msg;\n} else {\n// menu bestaat niet, niets doen\n}\n\n\n",
      "outputs":1,
      "timeout":0,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1040,
      "y":1730,
      "wires":[
         [
            "dc95e84105b87250"
         ]
      ]
   },
   {
      "id":"dc95e84105b87250",
      "type":"link out",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "name":"Force-ButtonPlusUpdate",
      "mode":"link",
      "links":[
         "1a1ba52959421d9d"
      ],
      "x":1165,
      "y":1730,
      "wires":[
         
      ]
   },
   {
      "id":"4b7e5ac284a7a1b5",
      "type":"junction",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "x":480,
      "y":2250,
      "wires":[
         [
            "892536bf5ab66092"
         ]
      ]
   },
   {
      "id":"892536bf5ab66092",
      "type":"junction",
      "z":"438a2f12.c372d",
      "g":"109acb7a550bb286",
      "x":890,
      "y":2250,
      "wires":[
         [
            "3849217e70cac1ee"
         ]
      ]
   },
   {
      "id":"a08e3970.b010b8",
      "type":"mqtt-broker",
      "name":"mqtt-broker",
      "broker":"10.10.10.10",
      "port":"1883",
      "clientid":"docker_nodered",
      "autoConnect":true,
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "autoUnsubscribe":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "userProps":"",
      "sessionExpiry":""
   }
]